<h1>Listing remedies</h1>

<table>
  <thead>
    <tr>
      <th>Ailment</th>
      <th>Cure</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @remedies.each do |remedy| %>
      <tr>
        <td><%= remedy.ailment %></td>
        <td><%= remedy.cure %></td>
        <td><%= link_to 'Show', remedy %></td>
        <td><%= link_to 'Edit', edit_remedy_path(remedy) %></td>
        <td><%= link_to 'Destroy', remedy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remedy', new_remedy_path %>
