<%= form_for(@post_flavor) do |f| %>
  <% if @post_flavor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_flavor.errors.count, "error") %> prohibited this post_flavor from being saved:</h2>

      <ul>
      <% @post_flavor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
