<div id="header"><h1>Dosha Actions</h1></div>
<div id="wrapper">

<table>
  <thead>
    <tr>
      <th>Dosha</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dosha_actions.each do |dosha_action| %>
      <tr>
        <td><%= dosha_action.Dosha %></td>
        <td><%= link_to 'Show', dosha_action %></td>
        <td><%= link_to 'Edit', edit_dosha_action_path(dosha_action) %></td>
        <td><%= link_to 'Destroy', dosha_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dosha action', new_dosha_action_path %>
</div>