<div id="header"><h1>Food Groups</h1></div>
<div id="wrapper"><%= form_for(@food_group) do |f| %>
  <% if @food_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_group.errors.count, "error") %> prohibited this food_group from being saved:</h2>

      <ul>
      <% @food_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>