<div id="header"><h1>Properties</h1></div>
<div id="wrapper">
  <%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Increases %><br>
    <%= f.text_field :increases %>
  </div>
  <div class="field">
    <%= f.label :Decreases %><br>
    <%= f.text_field :decreases %>
  </div>
  <div class="field">
    <%= f.label :Effects %><br>
    <%= f.text_field :effects %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>