<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Type %><br>
    <%= f.text_field :Type %>
  </div>
  <div class="field">
    <%= f.label :Temperature %><br>
    <%= f.text_field :Temperature %>
  </div>
  <div class="field">
    <%= f.label :PreFlavor %><br>
    <%= f.text_field :PreFlavor %>
  </div>
  <div class="field">
    <%= f.label :PostFlavors %><br>
    <%= f.collection_select( :post_flavor_ids, 
      PostFlavor.all, 
      :id, :Name, {selected: @ingredient.post_flavor_ids, include_blank: false}, {multiple: true}) %>
  </div>
  <div class="field">
    <%= f.label :Properties %><br>
    <%= f.collection_select( :property_ids, 
      Property.all, 
      :id, :Name, {selected: @ingredient.property_ids, include_blank: false}, {multiple: true}) %>
  </div>
  <div class="field">
    <%= f.label :Dosha_Action %><br>
    <%= f.text_field :Dosha_Action %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
