<div id="header"><h1>Ingredients</h1></div>
<div id="wrapper">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Temperature</th>
      <th>Preflavors</th>
      <th>Postflavors</th>
      <th>Dosha Action</th>
      <th>Properties</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.Name %></td>
        <td><%= ingredient.Type %></td>
        <td><%= ingredient.Temperature %></td>
        <td><%= ingredient.PreFlavor %></td>
        <td>
          <% ingredient.post_flavors.each do |post_flavor| %>
            <%= post_flavor.Name %>&nbsp;
          <% end %>
        </td>
        <td><%= ingredient.Dosha_Action %></td>
        <td>
          <% ingredient.properties.each do |property| %>
            <%= property.Name %>&nbsp;
          <% end %>
        </td>
        <td><%= link_to 'Show', ingredient %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
</div>