<div id="header"><h1>Ingredients</h1></div>
<div id="wrapper">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Food Group</th>
      <th>Temperature</th>
      <th>Pre Flavors</th>
      <th>Post Flavors</th>
      <th>Dosha Action</th>
      <th>Properties</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.Name %></td>
        <td><%= ingredient.food_group.try(:name) %></td>
        <td><%= ingredient.temperature.try(:Type) %></td>
        <td>
          <% ingredient.pre_flavors.each do |pre_flavor| %>
            <%= pre_flavor.name %>&nbsp;
            <% end %>
        </td>
        <td>
          <% ingredient.post_flavors.each do |post_flavor| %>
            <%= post_flavor.name %>&nbsp;
          <% end %>
        </td>
        <td>
          <% ingredient.dosha_actions.each do |dosha_action| %>
            <%= dosha_action.Dosha + ' ' + dosha_action.Movement %><br />
            <% end %>
        </td>
        <td>
          <% ingredient.properties.each do |property| %>
            <%= property.Name %>&nbsp;
          <% end %>
        </td>
        <td><%= link_to 'Show', ingredient %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
</div>