<div id="header"><h1>Ingredients</h1></div>
<div id="wrapper">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.Name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ingredient.Type %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @ingredient.Temperature %>
</p>

<p>
  <strong>Pre Flavor:</strong>
  <% @ingredient.pre_flavors.each do |preflavor| %>
  <%= preflavor.Name %>&nbsp;
  <% end %>
</p>

<p>
  <strong>Post Flavor:</strong>
  <% @ingredient.post_flavors.each do |postflavor| %>
  <%= postflavor.Name %>&nbsp;
  <% end %>
</p>

<p>
  <strong>Properties:</strong>
  <% @ingredient.properties.each do |property| %>
  <%= property.Name %>&nbsp;
  <% end %>
</p>
<p>
  <strong>Dosha action:</strong>
  <%= @ingredient.Dosha_Action %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
</div>