<%= form_for(@ailment) do |f| %>
  <% if @ailment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ailment.errors.count, "error") %> prohibited this ailment from being saved:</h2>

      <ul>
      <% @ailment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Remedy %><br>
    <%= f.text_field :Remedy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
