<!DOCTYPE html>
<html>
    <head>
        <title>Ayurvedic Ingredients</title>
<style>

</style>
    </head>
    <body>
        <div id="header"><h1>Ayurvedic Ingredients</h1></div>
        <div id="wrapper">
          <ul>
            <li class="navigation">
              <!--<h3><%= link_to #"Ingredients", ingredients_path %><h3>-->
              <h3><a href='<%= ingredients_path %>' rel='self' type='link' target='new'>Ingredients</a></h3>
            </li>
            <li class="navigation">
              <h3><a href='<%= food_groups_path %>' rel='self' type='link' target='new'>Food Groups</a></h3>
            </li>
            <li class="navigation">
              <h3><a href='<%= dosha_actions_path %>' rel='self' type='link' target='new'>Dosha Actions</a></h3>
            </li>
            <li class="navigation">
              <h3><a href='<%= properties_path %>' rel='self' type='link' target='new'>Properties</a></h3>
            </li>
            <li class="navigation">
              <h3><a href='<%= temperatures_path %>' rel='self' type='link' target='new'>Temperatures</a></h3>
            </li>
            <li class="navigation">
              <h3><a href='<%= flavors_path %>' rel='self' type='link' target='new'>Flavors</a></h3>
            </li>              
          </ul>
          <hr />
       		<h2>Dosha</h2>
          <hr />
          <div id='dosha_desc_wrap'>
            <div class='dosha_desc'>
              <h3>Vata</h3>
              <p>Energy that controls bodily functions associated with motion, including blood circulation, breathing, blinking, and your heartbeat.</p>
              <p>In balance: There is creativity and vitality.</p>
              <p>Out of balance: Can produce fear and anxiety.</p>
            </div>
            <div class='dosha_desc'>
              <h3>Pitta</h3>
              <p>Energy that controls the body's metabolic systems, including digestion, absorption, nutrition, and your body's temperature.</p>
              <p>In balance: Leads to contentment and intelligence.</p>
              <p>Out of balance: Can cause ulcers and anger.</p>
            </div>
            <div class='dosha_desc'>
              <h3>Kapha</h3>
              <p>Energy that controls growth in the body. It supplies water to all body parts, moisturizes the skin, and maintains the immune system.</p>
              <p>In balance: Expressed as love and forgiveness.</p>
              <p>Out of balance: Can lead to insecurity and envy.</p>
            </div>
          </div>
          <hr />
        	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Ayurveda_humors.svg/250px-Ayurveda_humors.svg.png" />
        <div>
    </body>
</html>