<%= form_for(@digestive) do |f| %>
  <% if @digestive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@digestive.errors.count, "error") %> prohibited this digestive from being saved:</h2>

      <ul>
      <% @digestive.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.number_field :ingredient_id %>
  </div>
  <div class="field">
    <%= f.label :flavor_id %><br>
    <%= f.number_field :flavor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
